* {
  box-sizing: border-box;
}

body {

  font-family: 'Open Sans', sans-serif;
    background: -webkit-linear-gradient(to right, white, rgb(29, 6, 158));
    background: linear-gradient(to right, rgb(19, 136, 120), rgb(63, 15, 141));
    width: 100wh;
    height: 100vh;


 
}
#search-form {
 margin-top: 50px;
    margin-left: auto;
      margin-right: auto;

}
 
input{
  display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    margin-bottom: 24px;
    border: 5px solid darkblue;
      border-radius: 4px; 
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      -khtml-border-radius: 4px; 
      background: white; 
      outline: none; 
      height: 35px;
      width: 200px; 
      color: black;
      font-size: 13px; 
      font-family: Tahoma; 
}
input:focus{
border: 5px solid rgb(0, 217, 255);

}
button {
border: none;
width:150px;
padding:6px;
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
  color: white;
  background-color: darkblue;
  height: 30px;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  font-size: 15px;
    display: flex;
      align-items: center;
      justify-content: center;
}

button:hover {
  border: 5px solid rgb(0, 217, 255);
  text-align: center;
    justify-content: center;
}

.gallery{
display: flex;
width:100%;
margin: auto;
flex-wrap: wrap;
}

img{
  width:100%;
  height: auto;
  border-radius: 5px;
}

.photo-card{
  flex:1 1 170px;
  margin: 10px;

}


.info-item{

  color: rgb(0, 217, 255);
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  align-content: space-between;
}