* {
  box-sizing: border-box;
}

body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;

    max-height: 100vh;
    max-width: 100vw;
    background: #fafafa;

  /* My style */
    overflow: hidden;
    background: url("../images/christmas15.png");
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
}
#search-form {
 margin-top: 50px;
    margin-left: auto;
      margin-right: auto;

}
 
input{
  display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    margin-bottom: 24px;
    border: 5px solid darkblue;
      border-radius: 4px; 
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      -khtml-border-radius: 4px; 
      background: white; 
      outline: none; 
      height: 35px;
      width: 200px; 
      color: black;
      font-size: 13px; 
      font-family: Tahoma; 
}
input:focus{
border: 5px solid gold;

}
button {
display: block;
margin-left: auto;
margin-right: auto;
  color: white;
  background: darkblue;
  height: 30px;
  border-radius: 4px;
  font-size: 17;
}

button:hover {
  border: 5px solid gold;
}

.gallery{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
grid-gap:20px;
padding: 0;
margin: 0;
list-style: none;
max-width: calc(100vw-80px);
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
}